.sortBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.sortButtons button,
.timeFilter button {
  padding: 6px 10px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.sortButtons button:hover,
.timeFilter button:hover {
  background: #ddd;
}

.active {
  background-color: #0079d3;
  color: white;
}
